node_modules
**/node_modules
npm-debug.log
yarn-error.log
.pnpm-store

.git
.gitignore
.DS_Store

dist
**/dist
.next
**/.next
.turbo
coverage

.env
.env.*
!.env.example

docker-compose.override.yml
*.local.*

